
@font-face {
    font-family: 'OnePiece-zAqL.ttf';
    font-style: normal;
    font-weight: normal;
    src: local('OnePiece-zAqL.ttf'), url('OnePiece-zAqL.woff') format('woff');
}


body {
    background-color: aliceblue;
}

#container {
    display: grid;
    grid-template-areas:
        "header"
        "nav"
        "title"
        "section"
        "article"
        "aside"
        "footer"
    ;
}

header {
    font-family: 'OnePiece-zAqL.ttf', sans-serif; /* Utiliza la fuente definida en @font-face */
    margin-top: 1%;
    display: grid;
    grid-area: header;
    grid-template-columns: auto 1fr;
    align-items: center;
    text-align: center;
    background-color: #59e030;
    border-radius: 20px;
    padding: 1%;
    border: 5px solid black;
    text-transform: uppercase;

}

#logo{
    max-height: 20vw;float: inherit;
}

#navlist {
    grid-area: nav;
    margin-top: 2%;
}

#navlist ul {
    display: flex;
    flex-direction: row;
}

#navlist a {
    text-decoration: none;
    color: black;
    background-color: aliceblue;
    font-weight: bold;
    border: 2px solid black;
    padding: 2vw;
    border-radius: 10px;
}

#navlist a:hover {
    transition: 0.5s ease;
    background-color: rgb(175, 250, 250);
    animation: shadow-drop-center 0.4s linear both;
}

#introduccion {
    border: 2px solid rgb(0, 0, 0);
    padding: 2vw;
    margin-top: 3vh;
    border-radius: 20px;
}

#introduccion p {
    font-weight: 400;
    font-style: normal;
    color: rgb(0, 0, 0);
    font-size: 1.4em;
}

#controles {
    grid-area: section;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    margin-top: 2VH;

    font-style: normal;
    color: rgb(8, 8, 8);
    font-size: 1.1em;
}

#controles li {
    margin-top: 2vh;
    animation: aparecer 2s ease;
}

#controles h1 {
    text-align: center;
    border-bottom: 1px solid rgb(0, 0, 0);
}

/* PARA QUE APAREZCAN SOMBREAS AL ESTAR ENCIMA DE LINKS*/
@keyframes shadow-drop-center {
    0% {
        box-shadow: 0 0 0 0 transparent
    }

    100% {
        box-shadow: 0 0 40px 0 rgba(238, 235, 235, 0.55)
    }
}

/* ANIMACION PARA HACER QUE APAREZCAN EL TEXTO*/
@keyframes aparecer {
    from {
        opacity: 0;
        
    }

    to {
        opacity: 1;
       
    }
}
/* ANIMACION PARA HACER QUE VENGA EL HEADER*/
@keyframes TRAER {
    0% {
        letter-spacing: -.2em;
        transform: translateZ(-700px) translateY(-100px);
        opacity: 0
    }

    40% {
        opacity: .6
    }

    100% {
        transform: translateZ(0) translateY(0);
        opacity: 1
    }
}




#contenedor2 {
    display: grid;
    grid-template-areas:
        "header2"
        "nav2"
        "luffy"
        "zoro"
        "kaido"
        "kurohige"
        "espadachin"
        "pistolero";
    max-width: 98.8vw;
}

.personaje {
    text-align: center;
    margin-bottom: 20px;
}

.personaje img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

#luffy {
    grid-area: luffy;
}

#zoro {
    grid-area: zoro;
}

#kaido {
    grid-area: kaido;
}

#kurohige {
    grid-area: kurohige;
}

#espadachin {
    grid-area: espadachin;
}

#pistolero {
    grid-area: pistolero;
}

#header2 {
    grid-area: header2;
    text-align: center;
    color: wheat;
    padding: 2%;
    border-radius: 10px;
    background-color: rgb(22, 22, 59);
}

#navlist2 {
    grid-area: nav2;
    text-align: center;
}

#navlist2 ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}

#navlist2 a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    border: 2px solid black;
    padding: 1.2vw;
    border-radius: 10px;
}

#navlist2 a:hover {
    transition: 0.5s ease;
    background-color: rgb(175, 250, 250);
    animation: shadow-drop-center 0.4s linear both;
}

@keyframes shadow-drop-center {
    0% {
        box-shadow: 0 0 0 0 transparent;
    }

    100% {
        box-shadow: 0 0 40px 0 rgba(245, 243, 243, 0.55);
    }
}



.personaje img {
    max-width: 100%;
    /* Ajustar el ancho máximo de las imágenes */
    height: auto;
    /* Mantener la proporción de aspecto */
    border-radius: 10px;
}

/* FORMATO PARA TABLET */
@media only screen and (min-width: 768px){
    #container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "nav"
            "sec1"
            "sec2"
            "footer";
    }
}

/* FORMATO PARA PANTALLA DE ESCRITORIO */
@media only screen and (min-width: 1024px) {

    #logo {
        position: absolute;
        /* Posición absoluta para que la imagen se posicione en relación al encabezado */
        top: 10px;
        /* Ajustar la posición vertical según tu diseño */
        left: 10px;
        /* Ajustar la posición horizontal según tu diseño */
        max-width: 15vw;
        /* La imagen ocupará el ancho completo del encabezado */
        height: auto;
        /* La altura se ajustará automáticamente manteniendo la proporción */
    }
}
